---
layout: default
---
{% include navigation.html %}
{% capture length_total %}{{ site.posts | size }}{% endcapture %}
{% capture length_accidents %}{{ site.posts | where_exp:"post", 'post.accident == "1"' | size }}{% endcapture %}
{% capture perc_accidents %}{{ length_accidents | times: 1.0 | divided_by: length_total | times: 100 | round: 2 }}{% endcapture %}
<!--
<p><center>Number of news: {{ length_total }}</center></p>
<p><center>Number of pre-selected news: {{ length_accidents }}({{ perc_accidents }}%)</center></p>
-->
<p><center>Start date: {{ site.data.dates.start_date }} (UTC)</center></p>
<br>
<p><center>If no injuries or deaths happened or the number of injuries or deaths is not specified or unclear the system will report <b>n.d.</b></center></p>
<p><center>For all the news that have a number of injuries or deaths different from <b>n.d.</b>, the causes and the type of the site where the accident happened, if available, will be reported (construction, industrial, manufacturing and mining site), otherwise n.d.</center></p>
<hr>
<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  {% assign start_date = site.data.dates.start_date %}
  {% assign last_days_s = site.data.dates.last_days_s %}
  {% capture post_date_s %}{{ post.date | date: "%s" }}{% endcapture %}
  {% capture min_date_s %}{{ site.time | date: "%s" | minus : last_days_s }}{% endcapture %}
  

  {% if post.accident == "1" and post.date > start_date and post_date_s > min_date_s %}
     {% include post.html %}
     <hr>
  {% endif %}
{% endfor %}

</div>
