---
layout: default
title: News Analytics
---
{% include navigation.html %}
 
<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  {% assign start_date = site.data.dates.start_date %}
  
  
  {% capture post_date_s %}{{ post.date | date: "%s" }}{% endcapture %}
  {% capture weaks_ago_s %}{{ site.time | date: "%s" | minus : 1209600 }}{% endcapture %}

  ok {{ last_days }}
  {% if post.accident == "1" and post.date > start_date and post_date_s > weaks_ago_s %}
     {% include post.html %}
  {% endif %}
{% endfor %}

</div>
