---
layout: default
title: News Analytics
---
{% include navigation.html %}

{{ assign length_total = site.posts | size }} 
{{ assign length_accidents = site.posts | where_exp:"post", 'post.accident == "1"' | size }} 
Number of news: {{ length_total }} <br>
Number of filtered news: {{ length_accidents }}<br>

{{ 16 | divided_by: 4 }}

If no injuries or deaths happened or the number of injuries or deaths is not specified or unclear the system will report <b>n.d.</b><br>

<!-- This loops through the paginated posts -->
{% for post in site.posts %}
  {% assign start_date = site.data.dates.start_date %}
  {% assign last_days_s = site.data.dates.last_days_s %}
  {% capture post_date_s %}{{ post.date | date: "%s" }}{% endcapture %}
  {% capture min_date_s %}{{ site.time | date: "%s" | minus : last_days_s }}{% endcapture %}
  

  {% if post.accident == "1" and post.date > start_date and post_date_s > min_date_s %}
     {% include post.html %}
  {% endif %}
{% endfor %}

</div>
