<center><p>The <b>mission</b> of <b>{{ site.name }}</b> is to automatize the continous monitoring of the news to identify those related to accidents and to automatically quantify their consequences in term of victims (injuries and deaths). {{ site.name }} is mainly focused on the <b>Mining</b>, <b>Construction</b>, <b>Oil & Gas</b> and <b>Industrial</b> sectors but <b>it only depends on the news sources that are used by the system</b>. 
At the end of the homepage there is the list of all the news sources that are analyzed by <b>{{ site.name }}</b>.</p></center>
<center>Note: <i>The news are retrieved with a delay of 30 Minutes</i></center>
<br>
<center><p><b>Disclaimer</b>: At this moment, HSE News Monitor analyzes only the title of the news but it can be easily extended to the entire content of the articles. The pre-filtering step is used to reduce the number of requests to AI21.</p><center>
<center><h3>Some of the analysis presented in this website has been supported by using the <b>GPT-3</b> like models offered by</h3></center>
<br>
<center><a href='https://www.ai21.com/'><img src='assets/img/ai21_logo.svg' /></a></center>
