<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
<script>
  function date_converter() {
    var x = document.getElementsByClassName("date_string");
    for (var i = 0; i < x.length; i++) {
      var d = new Date(x[i].innerHTML);
      x[i].innerHTML = "<b>" + d.getFullYear().toString() + "-" + (d.getMonth()+1).toString() + "-" + d.getDate().toString()+"</b>";
      x[i].innerHTML = x[i].innerHTML + " " + (d.getHours()<10?'0':'') + d.getHours().toString() + ":" +  (d.getMinutes()<10?'0':'') + d.getMinutes().toString();
    }
    
    
  }
  window.onload = date_converter;
</script>
