  <h3 id="{{ post.file }}">
     {% if post.accident == "1" %}
      <!-- [WARNING] -->
     {% endif %}
     
     <a href="{{ post.link }}">
      {{ post.title }}
     </a>
  </h3>

  <p class="author">
    <span class="date">when: <span class="date_string">{{ post.date | date_to_xmlschema  }}</span>
  </p>
  <p class="author">
    <span>source: <a href="{{ post.feed_website }}">{{ post.feed_name }}</a> </span>
  </p>
  
  {% assign consequences = false %}

  {% if post.accident == "1" and post.dead and post.dead != "" post.dead != nil %}
    <p class="author">
      {% if post.dead != "0" %}
        {% assign consequences = true %}
        <span style="color: red;">dead: <b>{{ post.dead }}</b></span>
      {% else %}
        <span>dead: <b>n.d.</b></span>
      {% endif %}
    </p>
  {% endif %}
  
  {% if post.accident == "1" and post.injured and post.injured != "" post.injured != nil %}
    <p class="author">
      {% if post.injured != "0" %} 
        {% assign consequences = true %}
        <span style="color: red;">injured: <b>{{ post.injured }}</b></span>
      {% else %}
        <span>injured: <b>n.d.</b></span>
      {% endif %}
    </p>
  {% endif %}

  {% if consequences and post.where and post.where != "" post.where != nil %}
    <p class="author">
      {% if post.where != "unknown site" %} 
        <span style="color: red;">where: <b>{{ post.where }}</b></span>
      {% else %}
        <span>where: <b>n.d.</b></span>
      {% endif %}
    </p>
  {% endif %}


  <div class="content">
    {{ post.content }}
  </div>
