<h3 id="{{ post.file }}">
     {% if post.accident == "1" %}
      <!-- [WARNING] -->
     {% endif %}
     <span class="date"><span class="date_string">{{ post.date | date_to_xmlschema  }}</span></span>  
     <a href="{{ post.link }}">
      {{ post.title }}
     </a>
  </h3>
  <!--
  <p class="author">
    <span class="date">publishing date: <span class="date_string">{{ post.date | date_to_xmlschema  }}</span>
  </p>
  -->
  <p class="author">
    <span>source: <a href="{{ post.feed_website }}">{{ post.feed_name }}</a> </span>
  </p>
  
  {% assign consequences = false %}

  {% if post.accident == "1" and post.dead and post.dead != "" and post.dead != nil and post.dead != "0" %} 
    {% assign consequences = true %}
  {% endif %}
  {% if post.accident == "1" and post.injured and post.injured != "" and post.injured != nil and post.injured != "0" %} 
    {% assign consequences = true %}
  {% endif %}
  
  <p class="author">
    {% if post.accident == "1" and post.dead and post.dead != "" and post.dead != nil %}
        {% if post.dead != "0" %}
          <span style="color: red;">dead: <b>{{ post.dead }}</b></span>
        {% else %}
          <span>dead: <b>n.d.</b></span>
        {% endif %}
    {% endif %}
  {% if consequences %}
    </p>
    <p class="author">
  {% endif %}  
    {% if post.accident == "1" and post.injured and post.injured != "" and post.injured != nil %}
        {% if post.injured != "0" %}
          <span style="color: red;">injured: <b>{{ post.injured }}</b></span>
        {% else %}
          <span>injured: <b>n.d.</b></span>
        {% endif %}
    {% endif %}
  </p>

  {% if consequences and post.where and post.where != "" post.where != nil %}
    <p class="author">
      {% if post.where != "unknown site" %} 
        <span style="color: red;">where: <b>{{ post.where }}</b></span>
      {% else %}
        <span>where: <b>n.d.</b></span>
      {% endif %}
    </p>
  {% endif %}
  {% if consequences and post.place and post.place != "" post.place != nil %}
    <p class="author">
      {% if post.place != "unknown place" %} 
        <!-- <span style="color: red;">place: <b>{{ post.place }}</b></span> -->
      {% else %}
        <!-- <span>place: <b>n.d.</b></span> -->
      {% endif %}
    </p>
  {% endif %}

  <div class="content">
    {{ post.content }}
  </div>
